body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(135deg, #FEB1CA, #FFD6E7);
}

h2 {
    font-family: 'Quicksand', sans-serif;
    color: #9e2875; 
    font-size: 16px;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 500px;
    width: 90%;
    transition: transform 0.3s ease-in-out;
}

h1 {
    margin-bottom: 30px;
    color: #d36daf; 
    font-size: 28px;
}

#shorten-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#shorten-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#shorten-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d36daf;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

#custom-button:hover {
    background-color: #000;
}

#custom-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000; 
    color: #fff; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px; 
}

#shorten-button:hover {
    background-color: #000; 
}

#shorten-result {
    margin-top: 20px;
    display: none;
}

#shorten-link {
    font-size: 18px;
    font-weight: bold;
    color: #000; 
    text-decoration: none;
    word-wrap: break-word;
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #000; 
}

#shorten-link:hover {
    text-decoration: underline;
}

.moe-image {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

p {
    font-family: 'Comic Neue', cursive;
    font-size: 22px;
    color: #000;
}

@media screen and (max-width: 767px) {
    body {
        padding: 20px;
    }

    .container {
        padding: 20px; 
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 14px;
    }

    #shorten-input {
        width: 100%;
    }

    #shorten-button {
        width: 100%;
    }

    #custom-button {
        width: 100%;
    }

    #shorten-link {
        font-size: 16px;
    }

    .moe-image {
        max-width: 150px;
        max-height: 150px;
    }
}
